<div class="card bg-base-100 w-1/2 mx-auto flex flex-col p-6 rounded-lg shadow-lg">
    <div class="card-title justify-center text-3xl text-primary">Sign up</div>
    <div class="card-body w-full">
        <ul class="steps">
            <li class="step step-primary">Credentials</li>
            <li class="step" [class.step-primary]="currentStep() === 2">Profile</li>
        </ul>
        @if (currentStep() === 1) {
            <form [formGroup]="credentialsForm" class="flex flex-col gap-4 w-full steps">
                <app-text-input class="mt-2" label="Email" formControlName="email" />
                <app-text-input label="Display name" formControlName="displayName" />
                <app-text-input label="Password" formControlName="password" type="password" />
                <app-text-input label="Confirm password" formControlName="confirmPassword" type="password" />

                <div class="flex items-center justify-end gap-3">
                    <button (click)="cancel()" type="button" class="btn">Cancel</button>
                    <button 
                        [disabled]="!credentialsForm.valid"
                        (click)="nextStep()"
                        class="btn btn-primary" type="button">Next</button>
                </div>
            </form>
        }
        @if (currentStep() === 2) {
            <form [formGroup]="profileForm" class="flex flex-col w-full gap-4 steps">
                <div>Profile form goes here</div>
                <div class="flex items-center justify-end gap-3">
                    <button (click)="prevStep()" type="button" class="btn">Back</button>
                    <button 
                        [disabled]="!profileForm.valid"
                        (click)="register()"
                        class="btn btn-primary" type="button">Register</button>
                </div>
            </form>
        }

        
    </div>

    <div class="flex flex-col items-start px-3 w-full mockup-code text-lg">
        <div>Creds value: {{credentialsForm.value | json}}</div>
        <div>Creds status: {{credentialsForm.status | json}}</div>

        <div>Profile value: {{profileForm.value | json}}</div>
        <div>Profile status: {{profileForm.status | json}}</div>
    </div>
</div>